@model Department 
@{
    ViewBag.Title = "Create Department";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCreate</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/global.css" rel="stylesheet" />
</head>
<body>
    <h1>DEPARTMENT</h1>
    <form action="/department/create" method="post" class="p-4 border rounded shadow-sm">
        <div class="mb-3">
            <label asp-for="DeptId">Department ID</label>
            <input asp-for="DeptId" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="DeptName" class="form-label">Department Name</label>
            <input asp-for="DeptName" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Capacity" class="form-label">Capacity</label>
            <input asp-for="Capacity" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Add Department</button>
    </form>
</body>
</html>
