@{
    ViewBag.Title = "Home";
    ViewData["Title"] = "Home Page";
}

<div class="m-auto text-center p-5" style="background-color: white;">
    <h1 class="display-4 text-primary font-weight-bold">Welcome To My First ASP .NET Project</h1>
</div>

